.sliderContainer {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto; /* Opcjonalnie, centrowanie slidera */
    margin-top: -60px;
  }

  @media (max-width: 800px) {
    .sliderContainer {margin-top: -50px;}
  }