.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--white-color);
    border-radius: 40px;
    background-color: transparent;
    font-family: var(--font-poppins);
    font-weight: medium;
    font-size: 16px;
    letter-spacing: .48px;
    color: var(--white-color);
    transition: .3s;
    cursor: pointer;
    
}

.button:hover {
    background-color: var(--white-color);
    color: var(--primary-green)
}