.container {
    width: 100%
}

.wrapper {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    border-radius: 139px;
    background-color: var(--dark-green);
    padding: 40px 0
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}



.line {
    width: 2px;
    background-color: var(--white-color);
    height: 66px
}

.counter {
    text-align: center;
    font-size: 100px;
    color: var(--white-color);
    font-family: var(--font-poppins);
    font-weight: bold;
    min-width: 255px;
}

.text {
    font-size: 22px;
    color: var(--white-color);
    letter-spacing: .6px;
    text-align: center;
    font-family: var(--font-roboto);
    font-weight: bold;
}


@media (max-width: 1500px) {
    .inner {
        width: 85%;
    }

    .counter {
        font-size: 70px;
    }
 }

 @media (max-width: 1150px) {
    .inner {
        width: 92%;
    }
 }

 @media (max-width: 1024px) {
    .inner {
        flex-direction: column;
        gap: 30px
    }
    .line {
        width:88px;
    height: 2px;
    
    }

 }

 @media (max-width: 680px) {
    .wrapper {
        width: calc(100% + 60px);
  margin-right: -30px;
  margin-left: -30px;
  border-radius: 0;
  overflow-x: scroll;
  padding: 0;
  height: 200px;
  background-color: transparent;
  scrollbar-width: none; 
  -ms-overflow-style: none; 

    }
    .wrapper::-webkit-scrollbar {
        display: none; 
      }
    .inner {
        flex-direction: row;
        gap: 20px;
        height: 100%;
        margin: 0;
        width: 1360px;
        justify-content: flex-start;
        background-color: transparent;
        padding-left: 30px;
        padding-right: 30px;
        
    }
    .line {
        display: none;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-green);
        height: 100%;
        width: 420px;
        border-radius: 100px;
    }
    .counter {
        min-width: initial;
    }
    .counter {
        font-size: 80px;
    }
 }

 @media (max-width: 590px) {
    .inner {
        width: 940px;
    }
    .item {
        width: 280px
    }
    .counter {
        font-size: 70px;
    }
 }