.sliderContainer {
    width: 100%;
}

.inner {
    width: 100%;
    max-width: 1115px;
    height: 90px;
    margin: 0 auto;
}


@media (max-width: 1200px) {
    .inner {
        width: 90%;
    }
}
@media (max-width: 690px) {
    .inner {
        width: 80%;
    }
}