.wrapper {
    text-align: center;
    margin-bottom: 60px
}

.paragraph {
    color: var(--white-color);
    letter-spacing: .6px;
    font-family: var(--font-roboto);
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: .6px; 
}

.header {
    color: var(--white-color);
    font-size: 40px;
    font-weight: bold;
    font-family: var(--font-poppins);
    letter-spacing: 1.2px;
}

@media (max-width: 1024px) { 
    .wrapper {
        margin-bottom: 40px;
    }
    .paragraph {
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 0px;
    }
    .header {
        font-size: 30px;
        line-height: 45px;
    }
}