.wrapper {
    width: 100%;
    padding-top: 150px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.left {
    width: 57%;
}
.right {
    position: relative;
    left: 80px;
        width: 43%;
}

.mainHeading {
    font-family: var(--font-poppins);
    font-weight: bold;
    color: var(--white-color);
    font-size: 35px;
    letter-spacing: 1.05px;
    margin-bottom: 20px;
}

.secondHeading {
    font-family: var(--font-poppins);
    font-weight: bold;
    color: var(--white-color);
    font-size: 45px;
    letter-spacing: 1.8px;
    line-height: 50px;
}

.text {
    font-size: 20px;
    letter-spacing: .6px;
    line-height: 30px;
    font-family: var(--font-roboto);
    font-weight: 400;
    color: var(--white-color);
    margin-top: 45px;
    max-width: 550px;
    margin-bottom: 45px;
}
.image {
    display: block;
    width: 70%;
    transform: scale(1.6);
}



@media (max-width: 1800px) {
    .secondHeading {
        font-size: 45px;
        line-height: 55px;
    }
    .mainHeading {
        font-size: 30px;
    }
    .right {
        bottom: 0px;
    }
    .image {
        transform: scale(1.35);
        width: 100%;
    }
    .wrapper {
        padding-top: 100px;
       }
}

@media (max-width: 1300px) { /* Wartość breakpointu wpisana ręcznie */

   .image {
    /* transform: scale(1.4); */
}
.mainHeading {
    font-size: 30px;
}
.secondHeading {
    font-size: 40px;
}

}

@media (max-width: 1024px) { /* Wartość breakpointu wpisana ręcznie */
    .wrapper {
        padding-top: 0px;
    }
    .left {
        width: 100%;
        order: 2
    }

    .right {
        left: 0px;
        width: 100%;
        height: 400px;
        order: 1;
        bottom: 10px;
        margin-top: 40px;
    }

    .image {
        transform: scale(1.3);
        width: 50%;
        margin: 0 auto;
        min-width: 400px
    }
    .mainHeading {
        font-size: 20px;
    }

    .secondHeading {
        font-size: 30px;
        line-height: 41px;
    }
    .text {
        font-size: 17px;
        line-height: 30px;
    }
}

@media (max-width: 500px) {
    .image {
        min-width: 300px
    }

    .right {
        height: 320px;
    }
}




